.paper-header {
    padding: 20px;
}

.general-text {
    padding: 10px;
}

.general-text-extra {
    padding: 50px;
}
.home-button {
    background-image: url("../resources/home.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 80px;
    border: none;
    background-color: transparent;
}

.home-button:hover {
    background-color: lightblue;
    cursor: pointer;
}

.title-and-buttons {
    display: flex;
    align-items: center;
}

.header-buttons {
    display: flex;
    margin-left: auto;
    align-items: center;
}
.table{
    display: flex;
    background-image: url(../resources/simulation/table.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    height: 300px;
    width: 80px;
    border: none;
    background-color: transparent;
}
.computer{
    background-image: url(../resources/simulation/monitor.png);
    height: 428px;
    width: 587px;
    background-repeat: no-repeat;
    background-position:bottom;
    background-color: transparent;
    background-size: contain;
    border: none;
}
.computer:hover {
    background-color: lightblue;
    cursor: pointer;
}
.cuvettes{
    background-image: url(../resources/simulation/cuvettes\ 3.png);
    height: 70px;
    width: 200px;
    background-repeat: no-repeat;
    background-position:bottom;
    background-color: transparent;
    background-size: contain;
    border: none;
}
.fluoro{
    background-image: url(../resources/simulation/front\ view\ closed.png);
    height: 428px;
    width: 587px;
    background-repeat: no-repeat;
    background-position:bottom;
    background-color: transparent;
    background-size: contain;
    border: none;
}
.fluoro:hover {
    background-color: lightblue;
    cursor: pointer;
}
.desktop{
    display: flex;
    margin-left: auto;
    align-items: center;
    align-items:flex-end;
}
.cuvettepopup{
    padding: 30px;
    background-color: whitesmoke;
    border-radius: 30px;
    border: solid;
    border-color: #003057;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.table-img{
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
.spacer{
    min-height: 20px;
}
.paper-img2 {
    width: 60%;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.button-spacing {
    padding: 2px;
}
.paper-right {
    margin-left: auto;
    width: 100%;
    max-width: 48vw;
}

.display-graph-container {
    display: flex;
    align-items: flex-start;
    padding: 20px;
}

.display-left {
    width: 100%;
    padding-right: 20px;
    max-width: 416px;
}