.paper-header {
    padding: 20px;
}

.general-text {
    padding: 10px;
}

.home-button {
    background-image: url("../resources/home.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 80px;
    border: none;
    background-color: transparent;
}

.home-button:hover {
    background-color: lightblue;
    cursor: pointer;
}

.title-and-buttons {
    display: flex;
    align-items: center;
}

.header-buttons {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.tutorial-body {
    padding: 50px;
}

.tryptophan {
    width: 100%;
}

.side-by-side-container {
    display: flex;
    align-items: center;
    padding: 20px;
}

.paper-tryptophan {
    width: 35%;
    padding: 10px;
}

.bulleted-info {
    padding: 20px;
}
