.paper-header {
    padding: 20px;
}

.general-text {
    padding: 10px;
}

.general-text-extra {
    padding: 50px;
}

.general-text-quiz {
    padding: 20px;
    background-color: lightblue;
    background-clip: padding-box;
    border-radius: 25px;
    transition: padding 100ms;
}

.general-text-quiz:hover {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #B3A369;
    transition: padding-top padding-bottom 200ms;
    cursor: pointer;
}

.general-text-quiz-div {
    padding: 20px;
}

.home-button {
    background-image: url("../resources/home.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 80px;
    border: none;
    background-color: transparent;
}

.home-button:hover {
    background-color: lightblue;
    cursor: pointer;
}

.title-and-buttons {
    display: flex;
    align-items: center;
}

.header-buttons {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.tutorial-body {
    padding: 50px;
}

.tryptophan {
    width: 100%;
}

.side-by-side-container {
    display: flex;
    align-items: center;
    padding: 20px;
}

.side-by-side-container-quiz {
    display: flex;
    padding: 20px;
    justify-content: space-around;
}

.side-by-side-container-align {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
}

.paper-tryptophan {
    width: 35%;
    padding: 10px;
}

.paper-img1 {
    width: 90%;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.bulleted-info {
    padding: 20px;
}

.img1 {
    width: 100%;
}

.img2 {
    width: 80%;
}

.img1-popup {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.popup-correct {
    padding: 30px;
    background-color: whitesmoke;
    border-radius: 30px;
    border: solid;
    border-color: #003057;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    min-height: 10vh;
    padding-top: 9vh;
    padding-bottom: 7vh;
    animation: fadein 0.5s;
}

.popup-error {
    padding: 30px;
    background-color: whitesmoke;
    border-radius: 30px;
    border: solid;
    border-color: red;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    min-height: 10vh;
    padding-top: 7vh;
    padding-bottom: 7vh;
    animation: fadein 0.5s;
}

.popup-img {
    padding: 30px;
    background-color: whitesmoke;
    border-radius: 30px;
    border: solid;
    border-color: #003057;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 80vw;
    height: 80vh;
}

.popup-close {
    cursor: pointer;
    position: absolute;
    display: block;
    right: 10px;
    top: 10px;
    font-size: 40px;
    background: #ffffff;
    border-radius: 18px;
}

.popup-close:hover {
    background-color: lightblue;
}

.fluorometer-body {
    padding: 100px;
}

.center {
    text-align: center;
}

.cuvette-button {
    width: 150px;
    height: 150px;
    border: solid;
    border-color: blue;
}

.FluorometerOpenEmpty {
    max-width: 40%;
    height: 45vh;
    width: auto\9; /* ie8 */
}

.cuvette-Select {
    padding: 5px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}