@import "utils";

$font_type0: 500 72px/1.2 "Roboto Slab", Helvetica, Arial, serif;
$font_type1: 26px/1.8 "Roboto Slab", Helvetica, Arial, serif;
$font_type2: 36px/1.3 "Roboto Slab", Helvetica, Arial, serif;
.block
{
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
}
.block-layout
{
    position: relative;
    overflow: hidden;
    min-height: 982px;
    flex-grow: 1;
}